html, body {
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #F8F6DB;
}

#header, #footer {
  background-color: #B8860B;
  padding: 4px 10px;
  color: white;
}

#header {
  font-size: 120%;
  margin-bottom: 4px;
}

#header a {
  color: white;
  text-decoration: none;
}
#footer {
  margin-top: 4px;
  font-size: 75%;
}

#footer a {
  color: white;
}

#container {
  font-size: 80%;
}

#map_canvas {
  height: 72%;
  width: 92%;
  margin: 2px 4%;
}

.info {
  display: none;
  padding: 5px;
  margin-top: 5px;
  background-color: #E8E69B;
}

input {
  font-size: 125%;
}

#message {
  padding: 5px;
  margin-top: 5px;
}
